body {
    background-color: #252432;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.wrapper > * {
    padding: 10px;
    margin: 10px;
    flex: 1 100%;
}

.header {
    background-color: #ffcc00;
    height: 120px;
}

.footer {
    background-color: #66ccff;
    height: 80px;
}

.main {
    background-color: #ff6667;
    height: 300px;
}

.side1 {
    background-color: #65cc99;
}

.side2 {
    background-color: #9999ff;
}

@media all and (min-width: 800px) {
    .main {
        flex: 3;
    }

    .side1 {
        order: 1;
    }

    .side2 {
        order: 2;
    }
    .main {
        order: 2;
    }

    .footer {
        order: 4;
    }

}

@media all and (min-width: 600px) {
    .side {
        flex: 1;
    }
}
