body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #18A383;
    box-sizing: border-box;
}

form {
    margin: 0 auto;
    width: 300px;
    background-color: white;
    padding: 20px;
    color: #999;
    border-radius: 3px;
    font-size: 0.8em;
}

input, textarea {
    border: none;
    outline: 0;
}

.field {
    border: solid 1px #ccc;
    padding: 10px;
    width: 280px;
}

.field:focus {
    border-color: #18A383;
}

.center-content {

}
